<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/everywhereteam/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="TheSmallPixel" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>