<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/everywhereteam/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="TheSmallPixel" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>